* {
  position: relative;
  min-width: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
}

html,
body {
  min-height: 100dvh;
  font-style: normal;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

body {
  background-color: #ffefe7;
}

.navbar {
  background-color: #ffefe7;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 25px;
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
}
.navbar .navbar-header .navbar-title {
  flex: 1;
}
.navbar .navbar-header .navbar-title a {
  color: #7c6a0a;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 400;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-links a {
  text-decoration: none;
  margin-left: 20px;
}
.navbar-links a:hover {
  text-decoration: underline;
}

.hamburger-menu {
  cursor: pointer;
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #7c6a0a;
  margin: 5px 0;
  transition: 0.4s;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
}
.hero .hero-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  grid-area: 10px;
}
.hero .hero-container h1 {
  margin: 10px 0 15px 0;
  font-size: 2.8rem;
  color: #7c6a0a;
  font-weight: 600;
}
.hero .hero-container p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #7c6a0a;
}
.hero .hero-container button {
  background-color: #fa9500;
  width: 150px;
  height: 42px;
  border: none;
  border-radius: 20.13px;
  font-weight: 700;
  color: #ffffff;
  font-size: 1.4rem;
  margin: 20px auto 60px auto;
}
.hero figure {
  width: 90%;
  margin: 0 auto;
}
.hero figure img {
  height: 45vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 7px;
}

.gallery {
  padding: 0 20px;
}
.gallery h2 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #7c6a0a;
}
.gallery .gallery-container {
  margin: 30px 0 60px 0;
  display: flex;
  /* overflow-scroll-x */
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 15px;
}
.gallery .gallery-container .card {
  position: relative;
  background-color: #ffdac6;
  width: 250px;
  min-width: 250px;
  padding: 45px 30px 20px 30px;
  border-radius: 4.5px;
  /* overflow-scroll-center-card */
  scroll-snap-align: center;
}
.gallery .gallery-container .card .icon {
  position: absolute;
  right: 11px;
  top: 12px;
}
.gallery .gallery-container .card figure {
  width: 100%;
  height: 240px;
  margin: 0 auto;
  background-color: white;
  border-radius: 3.58px;
  overflow: hidden;
}
.gallery .gallery-container .card figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .gallery-container .card .body {
  padding-top: 10px;
}
.gallery .gallery-container .card .body h3 {
  font-weight: 600px;
  color: #7c6a0a;
  font-size: 1.6rem;
}
.gallery .gallery-container .card .body p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #7c6a0a;
  text-align: left;
}
.gallery .gallery-container .card--color {
  background-color: #7c6a0a;
}
.gallery .gallery-container .card--color .body h3,
.gallery .gallery-container .card--color .body p {
  color: white;
}

.about {
  padding: 0 20px;
}
.about h2 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #7c6a0a;
  padding-bottom: 70px;
}
.about .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  text-align: center;
  padding-bottom: 60px;
}
.about .info-container .info {
  width: 200px;
}
.about .info-container .info figure {
  width: 100%;
}
.about .info-container .info figure img {
  width: 35%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .info-container .info p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #e86424;
  text-wrap: pretty;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-header {
    width: 100%;
    justify-content: space-between;
  }
  .navbar-links {
    display: none;
    width: 100%;
    justify-content: flex-start;
    margin-top: 10px;
  }
  .navbar-links.active {
    display: flex;
    justify-content: center;
  }
  .hamburger-menu {
    display: block;
  }
  .bar {
    transition: transform 0.4s;
  }
  .change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .change .bar:nth-child(2) {
    opacity: 0;
  }
  .change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}/*# sourceMappingURL=main.css.map */