$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$tertiary-color: #babd8d;
$fort-orange: #e86424;
$light-orange: #fa9500;
$primary-text-color: #7c6a0a;
$font-stack: "IBM Plex Sans", sans-serif;

* {
  position: relative;
  min-width: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
}

html,
body {
  min-height: 100dvh;
  font-style: normal;
}

h1,
h2,
h3 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
body {
  background-color: $primary-color;
}
//navbar
.navbar {
  background-color: $primary-color;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 25px;
  .navbar-header {
    display: flex;
    align-items: center;
    .navbar-title {
      flex: 1;
      a {
        color: $primary-text-color;
        font-size: 2rem;
        text-decoration: none;
        font-weight: 400;
      }
    }
  }
}
.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    text-decoration: none;
    margin-left: 20px;
  }
  a:hover {
    text-decoration: underline;
  }
}

.hamburger-menu {
  cursor: pointer;
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: $primary-text-color;
  margin: 5px 0;
  transition: 0.4s;
}
//hero section
.hero {
  display: flex;
  flex-direction: column-reverse;
  .hero-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    h1 {
      margin: 10px 0 15px 0;
      font-size: 2.8rem;
      color: $primary-text-color;
      font-weight: 600;
    }
    p {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.5;
      color: $primary-text-color;
    }
    button {
      background-color: $light-orange;
      width: 150px;
      height: 42px;
      border: none;
      border-radius: 20.13px;
      font-weight: 700;
      color: #ffffff;
      font-size: 1.4rem;
      margin: 20px auto 60px auto;
    }
  }
  figure {
    width: 90%;
    margin: 0 auto;
    img {
      height: 45vh;
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 7px;
    }
  }
}
//gallery section
.gallery {
  padding: 0 20px;
  h2 {
    font-size: 2.4rem;
    font-weight: 500;
    color: $primary-text-color;
  }
  //container
  .gallery-container {
    margin: 30px 0 60px 0;
    display: flex;
    /* overflow-scroll-x */
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 15px;
    //card
    .card {
      position: relative;
      background-color: $secondary-color;
      width: 250px;
      min-width: 250px;
      padding: 45px 30px 20px 30px;
      border-radius: 4.5px;
      /* overflow-scroll-center-card */
      scroll-snap-align: center;
      .icon {
        position: absolute;
        right: 11px;
        top: 12px;
      }
      figure {
        width: 100%;
        height: 240px;
        margin: 0 auto;
        background-color: white;
        border-radius: 3.58px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .body {
        padding-top: 10px;
        h3 {
          font-weight: 600px;
          color: $primary-text-color;
          font-size: 1.6rem;
        }
        p {
          font-size: 1.4rem;
          font-weight: 400;
          color: $primary-text-color;
          text-align: left;
        }
      }
    }
    .card--color {
      background-color: $primary-text-color;
      .body {
        h3,
        p {
          color: white;
        }
      }
    }
  }
}
//about section
.about {
  padding: 0 20px;
  h2 {
    font-size: 2.4rem;
    font-weight: 500;
    color: $primary-text-color;
    padding-bottom: 70px;
  }
  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
    padding-bottom: 60px;
    .info {
      width: 200px;
      figure {
        width: 100%;
        img {
          width: 35%;
          object-fit: cover;
        }
      }
      p {
        font-size: 1.4rem;
        font-weight: 600;
        color: $fort-orange;
        text-wrap: pretty;
      }
    }
  }
}
//gallery2 section
.gallery2 {
  padding: 0 20px;
  padding-bottom: 60px;
  h2 {
    font-size: 2.4rem;
    font-weight: 500;
    color: $primary-text-color;
    padding-bottom: 70px;
  }
  .gallery2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 12px;
    }
  }
}
//location section
.location {
  padding: 0 20px;
  padding-bottom: 30px;
  h2 {
    font-size: 2.4rem;
    font-weight: 500;
    color: $primary-text-color;
    padding-bottom: 40px;
  }
  figure {
    width: 100%; /* Ancho deseado del área recortada */
    height: 500px; /* Alto deseado del área recortada */
    overflow: hidden; /* Oculta las partes de la imagen fuera del contenedor */
    position: relative; /* Permite ajustar la posición de la imagen */
    img {
      position: absolute;
      //top: -50px; /* Ajusta la posición vertical de la imagen dentro del contenedor */
      left: -300px; /* Ajusta la posición horizontal de la imagen dentro del contenedor */
      height: 100%;
      padding-bottom: 20px;
    }
  }
  h5,
  p {
    color: $fort-orange;
  }
  h5 {
    font-size: 2rem;
    padding-bottom: 10px;
  }
  p {
    font-size: 1.6rem;
    padding-bottom: 60px;
  }
}
//footer section
footer {
  .footer-container {
    padding: 30px 20px;
    padding-bottom: 30px;
    background-color: $light-orange;
    color: white;
    p {
      font-size: 2rem;
      padding-bottom: 10px;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding-bottom: 20px;
      li {
        a {
          text-decoration: none;
          color: white;
          font-size: 1.5rem;
        }
      }
    }
  }
  .social-media {
    a {
      img {
        width: 30px;
        height: 30px;
        margin-right: 20px;
      }
    }
  }
}
@media (max-width: 768px) {
  //navbar
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-header {
    width: 100%;
    justify-content: space-between;
  }

  .navbar-links {
    display: none;
    width: 100%;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .navbar-links.active {
    display: flex;
    justify-content: center;
  }

  .hamburger-menu {
    display: block;
  }

  .bar {
    transition: transform 0.4s;
  }

  .change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .change .bar:nth-child(2) {
    opacity: 0;
  }

  .change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
@media (min-width: 768px) {
  .about .info-container {
    flex-direction: row;
    justify-content: center;
  }
  .gallery2 .gallery2-container {
    flex-direction: row;
  }

  .location figure img {
    left: 0;
    height: auto;
  }
  .footer-container .social-media {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
    align-items: center;
    .hero-container {
      width: 50%;
      button {
        margin: 20px 0 0 0;
      }
    }
    figure {
      width: 46%;
    }
  }
  .gallery .gallery-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }
  .about .info-container {
    justify-content: space-evenly;
  }
}

@media (min-width: 1024px) {
  .gallery {
    padding-bottom: 70px;
    .gallery-container {
      width: 75%;
      margin: 0 auto;
      gap: 50px;
    }
    h2 {
      padding-bottom: 60px;
    }
  }
  .gallery2 .gallery2-container {
    justify-content: center;
  }
  .location {
    figure img {
      padding-left: 45px;
    }
    h5,
    p {
      padding-left: 45px;
    }
  }
}
